# Dependencies
node_modules/
venv/
__pycache__/
*.db

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build outputs
build/
dist/
*.pyc

# Logs
*.log
npm-debug.log*

# File uploads
uploads/

# Firebase 
bird-identifier-9f5e5-firebase-adminsdk-fbsvc-147b255c1d.json